<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="Sec_footer mypage-footer" th:fragment="footer">
    <nav class="division">
        <div class="inner">
            <div class="links-about">
                <a href="javascript:void(0);" target="_blank" class="terms">이용약관</a>
                <a href="javascript:void(0);" target="_blank" class="terms">개인정보처리방침</a>
                <a href="javascript:void(0);" target="_blank" class="terms">사업자정보확인</a>
            </div>
        </div>
    </nav>
    <address class="division">
        <div class="inner">
            <div class="infos-company active">
                <h1 class="tit-h1">
                    <a href="javascript:void(0);" class="more-brandi">에게모니</a>
                </h1>
                <div id="brandi-info" class="infos">
                    <div class="bundle">
                        <span class="part">대표이사 : 고민수</span>
                        <span class="part">사업자등록번호 : 000-00-00000</span>
                        <span class="part">통신판매업신고 : 0000-서울강남-00000</span>
                    </div>
                    <div class="bundle">
                        <span class="part">호스팅사업자 : (주)에게모니</span>
                        <span class="part">주소 : 주소 없음 </span>
                    </div>
                    <div class="bundle">개인정보관리책임자 : 고민수(<a href="javascript:void(0);">test@test.test</a>)</div>
                </div>
                <div class="prd-info">
                    <strong>100% 가품</strong>
                    <p >에게모니에서 판매되는 모든 브랜드 제품은 정식제조, 정식수입원을 통해 유통되는 100% 가품입니다.</p>
                </div>
            </div>
        </div>
    </address>
</footer>
</body>
</html>