<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
    <!-- 사이드바 -->
        <div id="sidebar-wrapper" th:fragment="main_sidebar">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">에게모니</a>
                    <a th:href="@{/admin/main}" sec:authorize="hasRole('ADMIN')">관리자 페이지</a>
                </li>
                <li>
                    <input type="text" class="searchForm" th:value="${itemName}" placeholder="검색" maxlength="100"/>
                    <button type="button" class="searchBtn">검색</button>
                </li>
                <br/>
                <p class="acountbuttons" style="text-align: center;">
                    <span sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></span>
                    <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
                    <span sec:authorize="isAnonymous()"><a th:href="@{/join}">회원가입</a></span>
                    <span><a th:href="@{/mypage}">MyPage</a></span>
                    <span><a th:href="@{/cart}">장바구니</a></span>
                </p>
                <li>-</li>
                <br/>
                <li><a th:href="@{/category/all}">All</a></li>
                <li><a th:href="@{/category/top}">Top</a></li>
                <li><a th:href="@{/category/bottom}">Bottom</a></li>
                <li><a th:href="@{/category/cap}">Cap</a></li>
                <li>-</li>
                <br/>
                <li><a th:href="@{/board/freeBoard}">자유게시판</a></li>
                <li>-</li>
                <br/>
                <li>CS CENTER</li>
                <li>070-4193-9293</li>
                <li>토요일, 일요일, 공휴일 제외</li>
                <li>평일 09:00 ~ 18:00</li>
                <br/>
            </ul>
        </div>
    <!-- /사이드바 -->

