<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<strong class="tit_reply">
    <input type="hidden" th:value="${lastCommentId}" id="lastCommentId">
    <span th:text="${totalComment}"></span> <!-- 게시글번호와 댓글 개수  -->
    댓글
</strong>
<div class="comment_list">
    <ul class="list_reply" th:each="comment : ${commentList}">
        <li class="rp_admin" th:attr="data-commentId=${comment.id}"> <!-- 댓글, 여기다가 댓글번호 작성 -->
            <span class="reply_content">
                <span class="reply_content">
                    <span class="tit_nickname" th:text="${comment.writer}"></span>
                    <span class="txt_date" th:text="${#temporals.format(comment.createdDate, 'yyyy.MM.dd HH:mm')}"></span>
                    <span class="txt_reply" th:text="${comment.content}"></span>
                </span>
            </span>
            <div class="area_more">
                <div class="reply_layer">
                    <div class="inner_reply_layer">
                        <div class="layer_body">
                            <button type="button" class="link_reply comment_update">수정</button>
                            <button type="button" class="link_reply comment_delete">삭제</button>
                            <button type="button" class="link_reply reComment_write">댓글쓰기</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <th:block th:each="reComment : ${reCommentList}">
            <th:block th:if="${reComment.comment.id} == ${comment.id}">
                <li class="re_reply rp_admin" th:attr="data-reCommentId=${reComment.id}"> <!-- 대댓글, 여기다 댓글의 댓글번호 작성 -->
                    <span class="reply_content">
                        <span class="reply_content">
                            <span class="tit_nickname" th:text="${reComment.writer}"></span>
                            <span class="txt_date" th:text="${#temporals.format(reComment.createdDate, 'yyyy.MM.dd HH:mm')}"></span>
                            <span class="txt_reply" th:text="${reComment.content}"></span>
                        </span>
                    </span>
                    <div class="area_more">
                        <div class="reply_layer">
                            <div class="inner_reply_layer">
                                <div class="layer_body">
                                    <button type="button" class="link_reply reComment_update">수정</button>
                                    <button type="button" class="link_reply reComment_delete">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </th:block>
        </th:block>
    </ul>
    <form method="post" action="#" onsubmit="return false" style="margin: 0" name="commentForm">
        <fieldset class="fld_reply">
            <legend class="screen_out">댓글쓰기 폼</legend>
            <div>
                <span>
                    <input type="radio" id="public" name="hide" checked="checked" value="public">
                    <label for="public">
                        <span>
                            공개
                        </span>
                    </label>
                    <input type="radio" id="private" name="hide" value="private">
                    <label for="private">
                        <span>
                            비공개
                        </span>
                    </label>
                </span>
            </div>
            <div class="reply_write">
                <label for="content" class="lab_write screen_out">내용</label>
                <textarea name="content" id="content" class="tf_reply" placeholder="댓글 내용" tabindex="3"></textarea>
            </div>
            <div class="writer_btn">
                <button type="submit" class="btn_enter" tabindex="5">작성</button>
            </div>
        </fieldset>
    </form>
</div>

</body>
</html>