<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/css/common/sidebar.css" rel="stylesheet">
    <link href="/assets/css/product/product.css" rel="stylesheet">

</head>
<body>


<div id="page-wrapper">
    <!-- 사이드바 -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">에게모니</a>
                <a th:href="@{/admin/product/reg}">등록페이지</a>

            </li>
            <input type="text" class="form-control me-2" placeholder="검색" maxlength="20"/>
            <br/>
            <p class="acountbuttons" style="text-align: center;">
                <span sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></span>
                <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
                <span sec:authorize="isAnonymous()"><as th:href="@{/join}">회원가입</as></span>
                <span><a href="#">Mypage</a></span>
                <span><a href="#">Cart(0)</a></span>
            </p>
            <li>-</li>
            <br/>
            <li><a th:href="@{/categories/all}">All</a></li>
            <li><a href="#">Top</a></li>
            <li><a href="#">Bottom</a></li>
            <li><a href="#">Cap</a></li>
            <li>-</li>
            <br/>
            <li><a th:href="@{/board/list/all}">공지사항</a></li>
            <li><a th:href="@{/board/write/notice}">공지사항 글쓰기</a></li>
            <li>-</li>
            <br/>
            <li>CS CENTER</li>
            <li>070-4193-9293</li>
            <li>토요일, 일요일, 공휴일 제외</li>
            <li>평일 09:00 ~ 18:00</li>
            <li>-</li>
            <br/>
            <li><a href="#">메뉴 4</a></li>
            <li><a href="#">메뉴 5</a></li>
            <li><a href="#">메뉴 6</a></li>
            <li><a href="#">메뉴 7</a></li>
            <li><a href="#">메뉴 8</a></li>
            <li><a href="#">메뉴 9</a></li>
            <li><a href="#">메뉴 1</a></li>
            <li><a href="#">메뉴 2</a></li>
            <li><a href="#">메뉴 3</a></li>
            <li><a href="#">메뉴 4</a></li>
            <li><a href="#">메뉴 5</a></li>
            <li><a href="#">메뉴 6</a></li>
            <li><a href="#">메뉴 7</a></li>
            <li><a href="#">메뉴 8</a></li>
            <li><a href="#">메뉴 9</a></li>

        </ul>
    </div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--   start   -->

            <div class="container">
                <div class="row">
                    <div class="main-image-title">
                        <div class="col-md-6 main-image-div">
                            <img src="/assets/images/cloud.jpg" class="main-image"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>[[${product.productName}]]</h2>
                        <h3>[[${product.productPrice}]]원</h3>
                    <th:block th:if="${optionNames}">
                        <div>
                            <select>
                                <option disabled="disabled" selected>[ [[${optionNames.optionName1}]] ] 옵션을 선택하세요.</option>
                                <th:block th:each="options : ${options}">
                                    <option>[[${options.option}]]</option>
                                </th:block>
                            </select>
                        </div>
                        <th:block th:if="${optionNames.optionName2 != null}">
                            <div>
                                <select>
                                    <option disabled="disabled" selected>[ [[${optionNames.optionName2}]] ] 옵션을 선택하세요.</option>
                                </select>
                            </div>
                        </th:block>
                        <th:block th:if="${optionNames.optionName3 != null}">
                            <div>
                                <select>
                                    <option disabled="disabled" selected>[ [[${optionNames.optionName3}]] ] 옵션을 선택하세요.</option>
                                </select>
                            </div>
                        </th:block>
                        <th:block th:if="${optionNames.optionName4 != null}">
                            <div>
                                <select>
                                    <option disabled="disabled" selected>[ [[${optionNames.optionName4}]] ] 옵션을 선택하세요.</option>
                                </select>
                            </div>
                        </th:block>
                        <th:block th:if="${optionNames.optionName5 != null}">
                            <div>
                                <select>
                                    <option disabled="disabled" selected>[ [[${optionNames.optionName5}]] ] 옵션을 선택하세요.</option>
                                </select>
                            </div>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${optionNames}">
                        <div>
                            <select>
                                <option selected>사과</option>
                                <option>바나나</option>
                                <option>수박</option>
                            </select>
                        </div>
                    </th:block>
                    </div>
                </div>
            </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="tabs_wrap">
                        <div class="tab_default tab_active" id="tab1">상품정보</div>
                        <div class="tab_default" id="tab2">리뷰</div>
                        <div class="tab_default" id="tab3">Q&A</div>
                        <div class="tab_default" id="tab4">주문정보</div>
                    </div>
                    <div id="info_container_3" class="detail_info_container">
                        <ul class="detail_review_select">
                            <li class="active_review_select">최신순</li>
                            <li class>사진리뷰</li>
                            <li class>텍스트리뷰</li>
                        </ul>

                        <div class="detail_review_container">
                            <div class="review_head">
                                <div>
                                    텍스트리뷰
                                    <span>604</span>
                                </div>
                            </div>
                            <div class="Detail-review-box">
                                <dl class="detail_review_default">
                                    <dt class="review_profile">
                                        <strong>
                                            <div class="user_name">min***</div>
                                            <div class="date">2021.10.18</div>
                                        </strong>
                                    </dt>
                                    <dd class="review_text">좋네요</dd>
                                </dl>
                            </div>
                            <div class="Detail-review-box">
                                <dl class="detail_review_default">
                                    <dt class="review_profile">
                                        <strong>
                                            <div class="user_name">min***</div>
                                            <div class="date">2021.10.18</div>
                                        </strong>
                                    </dt>
                                    <dd class="review_text">좋네요</dd>
                                </dl>
                            </div>
                            <div class="Detail-review-box">
                                <dl class="detail_review_default">
                                    <dt class="review_profile">
                                        <strong>
                                            <div class="user_name">sum***</div>
                                            <div class="date">2021.10.18</div>
                                        </strong>
                                    </dt>
                                    <dd class="review_text">이상해요</dd>
                                </dl>
                            </div>
                            <a class="btn_more_review">더 많은 텍스트 리뷰 보기</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--   end     -->
            <footer class="footer">
                <div>sdsdsdsdsdsd</div>
                <div>sdsdsdsdsdsd</div>
                <div>sdsdsdsdsdsd</div>
                <p>sdsdsdsdsdsd</p>
            </footer>
        </div>
    </div>
    <!-- /본문 -->

</div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/assets/js/product/product.js"></script>
</body>
</html>
