<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/css/common/sidebar.css" rel="stylesheet">
    <link href="/assets/css/product/productRegist.css" rel="stylesheet">

</head>
<body>


<div id="page-wrapper">
    <!-- 사이드바 -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="/">에게모니</a>
                <a th:href="@{/admin/product/reg}">등록페이지</a>
            </li>
            <input type="text" class="form-control me-2" placeholder="검색" maxlength="20"/>
            <br/>
            <p class="acountbuttons" style="text-align: center;">
                <span sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></span>
                <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
                <span sec:authorize="isAnonymous()"><a th:href="@{/join}">회원가입</a></span>
                <span><a href="#">Mypage</a></span>
                <span><a href="#">Cart(0)</a></span>
            </p>
            <li>-</li>
            <br/>
            <li><a href="#">Top</a></li>
            <li><a href="#">Bottom</a></li>
            <li><a href="#">Cap</a></li>
            <li>-</li>
            <br/>
            <li><a th:href="@{/board/list/all}">공지사항</a></li>
            <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/board/write/notice}">공지사항 글쓰기</a></li>
            <li>-</li>
            <br/>
            <li>CS CENTER</li>
            <li>070-4193-9293</li>
            <li>토요일, 일요일, 공휴일 제외</li>
            <li>평일 09:00 ~ 18:00</li>
            <li>-</li>
            <br/>
            <li><a href="#">메뉴 4</a></li>
            <li><a href="#">메뉴 5</a></li>
            <li><a href="#">메뉴 6</a></li>
            <li><a href="#">메뉴 7</a></li>
            <li><a href="#">메뉴 8</a></li>
            <li><a href="#">메뉴 9</a></li>
            <li><a href="#">메뉴 1</a></li>
            <li><a href="#">메뉴 2</a></li>
            <li><a href="#">메뉴 3</a></li>
            <li><a href="#">메뉴 4</a></li>
            <li><a href="#">메뉴 5</a></li>
            <li><a href="#">메뉴 6</a></li>
            <li><a href="#">메뉴 7</a></li>
            <li><a href="#">메뉴 8</a></li>
            <li><a href="#">메뉴 9</a></li>

        </ul>
    </div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--  여기서부터 작성하면 됨   -->

            <form method="post" th:action="@{/product/register}">
                <table>
                    <thead>
                    <tr>
                        <td>
                            <input type="text" name="pageName" class="form-control" placeholder="상품페이지명">
                        </td>
                    </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" name="productName" class="form-control" placeholder="제품명">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="productPrice" class="form-control" placeholder="가격">
                        </td>
                    </tr>
                </tbody>
            </table>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    필수 옵션 생성
                </button>
                <button class="btn btn-primary" type="button" onclick="removeOption();">선택 삭제</button>
                <div id="optionLayer">
                    <span>필수 옵션</span>
                    <table border="1" width="30%" height="90" cellspacing="5" >
                        <thead>

                        </thead>
                        <tbody id="optionFinalValues">


                        </tbody>
                    </table>
                    <footer>
                        <input type="submit" value="전송" class="btn btn-primary"/>
                    </footer>
                </div>
            </form>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" id="optionMakePopup">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">필수 옵션 생성</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <input type="hidden" id="categoryType">
                        <div class="modal-body" >

                            <!-- 옵션 생성 칸 -->
                            <table border="1" width="540" height="150" cellspacing="5">
                                <thead>
                                <tr align="center" bordercolor="black">
                                    <th><button type="button" id="addOption" class="btn btn-primary" >추가</button></th>
                                    <th>옵션명</th>
                                    <th>옵션값</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr align="center" >
                                    <td>
			           		   	<span class="hide">
			           		   		<button type="button" id="addOption" class="btn_plus btnplusminus btn btn-warning">삭제</button>
			           		   	</span>
                                    </td>
                                    <td><input type="text" name="optionMakeName[]" placeholder="예) 사이즈" title="예) 사이즈" autocomplete="off" class="form-control" /></td>
                                    <td><input type="text" name="optionMakeValue[]" maxlength="40" placeholder="예) 90, 95, 100"  autocomplete="off" class="form-control" /></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="optConfigOk">확인</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--  여기까지만 작성  -->
        </div>
    </div>
    <!-- /본문 -->
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/product/productEnroll.js"></script>
<!--<script src="/assets/js/product/addOption.js"></script>-->

</body>
</html>
