<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" href="/assets/css/common/sidebar.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/item/item.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/item/qna_reply.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/item/qna_list.css" rel="stylesheet">
</head>
<body>
<div id="page-wrapper">
    <!-- 사이드바 -->
    <div th:replace="sidebar :: sidebarFragment"></div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--   start   -->

            <div class="container">
                <div class="row">
                    <div class="main-image-title">
                        <div class="col-md-6 main-image-div">
                            <img th:src="${item.imageUrl}" class="main-image"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form action="" method="POST" onsubmit="return sendorder()">
                            <input type="hidden" id="itemId" th:value="${item.id}" />
                            <input type="hidden" id="price" th:value="${item.price}" />
                            <input type="hidden" name="where" value="product">
                            <input type="hidden" name="itemList">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <h2 th:text="${item.itemName}"></h2>
                            <h4 th:text="${item.price} + '원'"></h4>
                            <div>
                                <label for="color"><h5>색상 : </h5></label>
                                <span id="color"><h5 th:text="${item.color}"></h5></span>
                            </div>
                            <div>
                                <label for="size"><h5>사이즈 : </h5></label>
                                <span id="size"><h5 th:text="${item.size}"></h5></span>
                            </div>
                            <div>
                                <input type="number" name="quantity" id="quantity" value="1" min="1">
                            </div>
                            <div class="details_price">
                                <h5>총 상품 금액</h5>
                                <h5 id="totalPrice"></h5>
                            </div>
                            <div class="details_btns">
                                <button type="button" class="cart" onclick="addCart();">장바구니</button>
                                <button type="submit" id="order-button" class="order_btn">바로구매</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="tabs_wrap">
                    <div class="tab_default tab_active" id="tab1">상품정보</div>
                    <div class="tab_default" id="tab2">리뷰</div>
                    <div class="tab_default" id="tab3">Q&A
                        <span th:text="${qnaSize}"></span>
                    </div>
                    <div class="tab_default" id="tab4">주문정보</div>
                </div>
                <div class="tab_container">
                    <div id="info_container_2" class="detail_info_container">
                        <ul class="detail_review_select">
                            <li class="active_review_select col-sm">최신순</li>
                            <li>사진리뷰</li>
                            <li>텍스트리뷰</li>
                        </ul>
                        <div class="detail_review_container">
                            <div class="review_head">
                                <div>
                                    텍스트리뷰
                                    <span>604</span>
                                </div>
                            </div>
                            <div class="Detail-review-box">
                                <dl class="detail_review_default">
                                    <dt class="review_profile">
                                        <strong>
                                            <div class="user_name">min***</div>
                                            <div class="date">2021.10.18</div>
                                        </strong>
                                    </dt>
                                    <dd class="review_text">좋네요</dd>
                                </dl>
                            </div>
                            <div class="Detail-review-box">
                                <dl class="detail_review_default">
                                    <dt class="review_profile">
                                        <strong>
                                            <div class="user_name">min***</div>
                                            <div class="date">2021.10.18</div>
                                        </strong>
                                    </dt>
                                    <dd class="review_text">좋네요</dd>
                                </dl>
                            </div>
                            <div class="Detail-review-box">
                                <dl class="detail_review_default">
                                    <dt class="review_profile">
                                        <strong>
                                            <div class="user_name">sum***</div>
                                            <div class="date">2021.10.18</div>
                                        </strong>
                                    </dt>
                                    <dd class="review_text">이상해요</dd>
                                </dl>
                            </div>
                            <a class="btn_more_review">더 많은 텍스트 리뷰 보기</a>
                        </div>
                    </div>
                    <div id="info_container_3" class="detail_info_container" style="display:none;">

                        <div class="details_qna_container">
                            <div class="qna_list_chk">
                                <div>
                                    QnA
                                    <span th:text="${qnaSize}"></span>
                                </div>
                                <a id="btn_write_qna">문의 내용 작성하기</a>
                            </div>
                            <dl class="qna_write" style="display: none;">
                                <dt>내용</dt>
                                <dd><textarea placeholder="내용을 입력해 주세요." id="content"></textarea></dd>
                                <dt>공개여부</dt>
                                <dd>
                                    <span>
                                        <input type="radio" id="public" name="hide" value="private" checked>
                                        <label for="public">비공개</label>
                                        <input type="radio" id="private" name="hide" value="public">
                                        <label for="private">공개</label>
                                    </span>
                                </dd>
                                <dd>
                                    <input type="button" value="취소하기" id="qna_write_cancel" />
                                    <input type="submit" value="등록하기" id="qna_post" />
                                </dd>
                            </dl>
                            <ul class="qna_list">
                                <div class="qna_list_head">
                                    <div class="qna_head_status">답변상태</div>
                                    <div class="qna_head_content">내용</div>
                                    <div>작성자</div>
                                    <div class="qna_head_created">작성일</div>
                                </div>
                                <li class="qna_no_data">등록된 Q&A가 없습니다</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /본문 -->

</div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://js.tosspayments.com/v1"></script>
    <script src="/assets/js/item/itemQnA.js"></script>
    <script src="/assets/js/cart/cart.js"></script>
    <script src="/assets/js/order/order.js"></script>

<th:block sec:authorized="hasRole('ROLE_ADMIN')">
    <script>
    $(document).ready(function(){
        $(document).on("click", "#qna_reply_post", function(){

            let itemId = $("#itemId").val();

            let span = $(this).closest("span");
            let parent = span.find("#parent").val();
            let content = span.find("#replyContent").val();
            let hide = span.find("input[type='radio']:checked").val();

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            let param = {
                itemId : itemId,
                content : content,
                parent : parent,
                hide : hide
            };

            $.ajax({
                type : "post",
                url  : "/item/reply/send",
                data : param,
                beforeSend : function(xhr){
                   xhr.setRequestHeader(header, token);
                },
                success : function(result){
                    if(result === "success"){

                      span.find("#replyContent").val("");
                      alert("답변 작성에 성공하셨습니다.");
                      getQnAList();
                    }else{
                      alert("권한이 없습니다");
                    }
                },
                error : function(result){
                    alert("답변 작성에 실패했습니다.\n잠시후에 다시 시도해보시고 안된다면\n고객센터에 문의해주시기 바랍니다.");
                }
            });
        });

        // QnA 리스트 가져오기
        function getQnAList(){

           let itemId = $("#itemId").val();

           $.ajax({
              type : "get",
              url  : "/item/get/qnaList",
              data : { itemId : itemId,
                       page : 1
                       },
              success : function(result){
                  $("#info_container_3").html(result);
              },
              error : function(result){
                   alert("QnA 에러입니다. 잠시후에 다시 시도해보고 안되면 문의사항에 남겨주시면 감사하겠습니다.");
              }
           });
        }


        // QnA작성 취소버튼 클릭
        $(document).on('click', '#qna_reply_write_cancel', function(){

            $(this).closest(".qna_reply_write").css('display', 'none');
            $(this).closest(".qna_list_body").find(".qna_title").css('display', 'none');
        });
    });
    </script>
</th:block>
</body>
</html>
