<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/css/common/sidebar.css" rel="stylesheet">
    <link href="/assets/css/admin/admin_main.css" rel="stylesheet">
</head>
<body>


<div id="page-wrapper">
    <!-- 사이드바 -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p>관리자 페이지</p>
                <a href="/">에게모니</a>
            </li>
            <input type="text" class="form-control me-2" placeholder="검색" maxlength="20"/>
            <br/>
            <p class="acountbuttons" style="text-align: center;">
                <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
            </p>
            <li>-</li>
            <br/>
            <li><a th:href="@{/admin/register}">상품 등록</a></li>
            <li><a th:href="@{/admin/itemList}">상품 목록</a></li>
            <li>-</li>
            <br/>
            <li><a th:href="@{/admin/send/orderItem}">상품 배송</a></li>
            <li><a th:href="@{/admin/write/notice}">입금 완료된 상품들</a></li>
            <li><a th:href="@{/admin/delivery/itemList}">배송 상품들</a></li>
            <li>-</li>
            <br/>
            <li><a th:href="@{/board/list/all}">공지사항</a></li>
            <li><a th:href="@{/admin/write/notice}">공지사항 글쓰기</a></li>
            <li>-</li>
            <br/>
        </ul>
    </div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--   start   -->
            <section>
                <div class="recent-user item">
                    <div class="item-caption">
                        <div class="item-title">최근 가입 회원</div>
                        <div class="more" th:onclick="'location.href=\''+ @{/admin/userList} + '\''">more +</div>
                    </div>
                    <div class="item-content">
                        <table>
                            <thead>
                            <tr>
                                <th>회원정보</th>
                                <th>휴대전화</th>
                                <th>가입일</th>
                                <th>sns</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="member : ${memberDtos}">
                                <td th:text = "${member.userId}">홍길동(gildong000)</td>
                                <td th:text = "${#strings.replace(member.phoneNum, ',', '-')}">010-2222-6666</td>
                                <td th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd')}">2021-06-07</td>
                                <td th:text = "${member.sns}">3</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="num-visitors item">
                    <div class="item-caption">
                        <div class="item-title">누적 방문자수</div>
                    </div>
                    <div class="item-content">
                        <div th:text="${numVisitors}">0</div>
                        <div>명</div>
                    </div>
                </div>
                <div class="recent-order item">
                    <div class="item-caption">
                        <div class="item-title">배송중인 상품</div>
                        <div class="item-title">0건</div>
                        <div class="more" th:onclick="'location.href=\''+ @{/admin/orderList} + '\''">more +</div>
                    </div>
                    <div class="item-content">
                        <table>
                            <thead>
                            <tr>
                                <th>구매자</th>
                                <th>상품명</th>
                                <th>결제금액</th>
                                <th>배송상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orderItem : ${ingOrderItems}">
                                <td th:text = "${orderItem.deliveryAddress.customerName}"></td>
                                <td th:text = "${orderItem.item.itemName}"></td>
                                <td th:text = "${#numbers.formatInteger(orderItem.totalPrice, 0, 'COMMA')} + '원'"></td>
                                <td th:text = "${orderItem.deliveryStatus.getValue}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="recent-item item">
                    <div class="item-caption">
                        <div class="item-title">입금 완료된 주문</div>
                        <div class="more" th:onclick="'location.href=\''+ @{/admin/itemList} + '\''">more +</div>
                    </div>
                    <div class="item-content">
                        <table>
                            <thead>
                            <tr>
                                <th>구매자</th>
                                <th>상품명</th>
                                <th>결제금액</th>
                                <th>입금날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="depositItem : ${depositOrderItems}">
                                <td th:text = "${depositItem.delivery.deliveryAddress.customerName}"></td>
                                <td th:text = "${depositItem.delivery.orderName}"></td>
                                <td th:text = "${#numbers.formatInteger(depositItem.totalPrice, 0, 'COMMA')} + '원'"></td>
                                <td th:text = "${#temporals.format(depositItem.depositDate, 'yyyy.MM.dd HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>


        </div>
    </div>
    <!-- /본문 -->

</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/admin/admin_itemList.js"></script>

</body>
</html>
