<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/css/common/sidebar.css" rel="stylesheet">
</head>
<body>


<div id="page-wrapper">
    <!-- 사이드바 -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p>관리자 페이지</p>
                <a href="/">에게모니</a>
                <a th:href="@{/product/register}">등록페이지</a>
            </li>
            <input type="text" class="form-control me-2" placeholder="검색" maxlength="20"/>
            <br/>
            <p class="acountbuttons" style="text-align: center;">
                <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
            </p>
            <li>-</li>
            <br/>
            <li><a th:href="@{/admin/register}">상품 등록</a></li>
            <li><a th:href="@{/admin/itemList}">상품 목록</a></li>
            <li>-</li>
            <br/>
            <li><a th:href="@{/board/list/all}">공지사항</a></li>
            <li><a th:href="@{/board/write/notice}">공지사항 글쓰기</a></li>
            <li>-</li>
            <br/>

        </ul>
    </div>
    <!-- /사이드바 -->

    <!-- 본문 -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--  여기서부터 작성하면 됨   -->
        <section id="itemList">
            <form th:action="@{/admin/itemList}" method="get" id="search">
            <div class="form-group">
                <label class="form-label">판매상태</label>
                <span>
                    <label><input type="radio" name="saleStatus" value="onsale" checked>정상판매</label>
                    &nbsp;
                    <label><input type="radio" name="saleStatus" value="soldout" th:checked="${saleStatus == 'soldout'}">품절</label>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">카테고리</label>
                <span>
                    <select name="category">
                        <option value="whole" selected>전체</option>
                        <option value="top" th:selected="(${category} == 'top')">TOP</option>
                        <option value="bottom" th:selected="(${category} == 'bottom')">BOTTOM</option>
                        <option value="cap" th:selected="(${category} == 'cap')">CAP</option>
                    </select>
                </span>
            </div>
            <div class="form-group">
                <label class="form-label">상품명</label>
                <span>
                    <input type="text" name="itemName" th:value="${itemName}">
                </span>
            </div>
            <div class="search-submit-box">
                <input type="submit" class="search-submit" value="검색">
            </div>
            </form>
            <table class="item-table">
                <colgroup>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="65%"/>
                    <col width="15%"/>
                </colgroup>
                <thead>
                    <tr>
                        <th><input type="checkbox" class="checkbox-selectall"></th>
                        <th colspan="2">상품정보</th>
                        <th>판매상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}">
                        <td><input type="checkbox" class="checkbox-select"></td>
                        <td><img th:src="@{${item.imageUrl}}" width="70px" height="60px"></td>
                        <td>
                            <a href="#">
                                <div class="item-name" th:text="${item.itemName} + ' 사이즈 : [ ' + ${item.size} + ' ]'"></div>
                                <div class="item-color" th:text="'색상 : ' + ${item.color}"></div>
                                <div class="item-category" th:text=" '분류 : ' + ${item.category}"></div>
                                <div class="item-price" th:text="'가격 : ' + ${item.price}"></div>
                            </a>
                        </td>
                        <td>
                            <input type="button" th:if="${item.saleStatus.toString().equals('onsale')}" th:value="판매중">
                            <input type="button" id="soldoutbtn" th:if="${item.saleStatus.toString().equals('soldout')}" th:value="품절">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="paginate">
                <input type="hidden" name="page" value="1" th:value="${curPage}" />
                <ul>
                    <li>
                        <a href="#" th:href="@{/admin/itemList(page=${page.prevPage},itemName=${itemName},category=${category},saleStatus=${saleStatus})}">Previous</a>
<!--                        <a href="#" th:href="@{/admin/itemList(page=${page.prevPage})}">Previous</a>-->
                    </li>
                    <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a href="#" th:href="@{/admin/itemList(page=${i},itemName=${itemName},category=${category},saleStatus=${saleStatus})}" th:text="${i}">1</a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/admin/itemList(page=${page.nextPage},itemName=${itemName},category=${category},saleStatus=${saleStatus})}">Next</a>
<!--                        <a href="#" th:href="@{/admin/itemList(page=${page.nextPage})}" id="next" >Next</a>-->
                    </li>
                </ul>
            </div>
        </section>
            <!--  여기까지만 작성  -->
        </div>
    </div>
    <!-- /본문 -->
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/admin/admin_itemList.js"></script>

</body>
</html>
