<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/css/common/sidebar.css" rel="stylesheet">
    <link href="/assets/css/common/paging.css" rel="stylesheet">
</head>
<body>


<div id="page-wrapper">
    <!-- 사이드바 -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <p>관리자 페이지</p>
                <a href="/">에게모니</a>
            </li>
            <input type="text" class="form-control me-2" placeholder="검색" maxlength="20"/>
            <br/>
            <p class="acountbuttons" style="text-align: center;">
                <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
            </p>
            <li>-</li>
            <br/>
            <li><a th:href="@{/admin/register}">상품 등록</a></li>
            <li><a th:href="@{/admin/itemList}">등록된 상품 목록</a></li>
            <li>-</li>
            <br/>
            <li><a th:href="@{/admin/send/orderItem}">상품 배송</a></li>
            <li><a th:href="@{/admin/orderList}">주문 목록</a></li>
            <li>-</li>
            <br/>
            <li><a th:href="@{/board/list/all}">공지사항</a></li>
            <li><a th:href="@{/admin/write/notice}">공지사항 글쓰기</a></li>
            <li>-</li>
            <br/>

        </ul>
    </div>
    <!-- /사이드바 -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!-- 본문 -->
            <h1>배송 처리</h1>
            <section id="itemList">
                <form th:action="@{/admin/itemList}" method="get" id="search">
                    <div class="form-group">
                        <label class="form-label">상품명</label>
                        <span><input type="text" name="itemName" th:value="${searchDto.itemName}"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">주문번호</label>
                        <span><input type="text" name="orderNum" th:value="${searchDto.orderNum}"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">구매자</label>
                        <span><input type="text" name="customerName" th:value="${searchDto.customerName}"></span>
                    </div>
                    <div class="search-submit-box">
                        <input type="submit" class="search-submit" value="검색" />
                    </div>
                </form>
                <input type="checkbox" class="checkbox-selectall">

                <table class="item-table">
                    <colgroup>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="20%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                        <col width="10%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>결제일</th>
                            <th>주문번호</th>
                            <th>주문자</th>
                            <th>운송장</th>
                            <th>상품명/옵션</th>
                            <th>수량</th>
                            <th>상품총금액</th>
                            <th>입금상태</th>
                            <th>배송하기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="orderItem : ${orderItems}" th:attr="data-orderItemId=${orderItem.id}" class="item_box">
                            <td th:text="${#temporals.format(orderItem.order.createdDate, 'yyyy.MM.dd HH:mm')}">2021.12.22</td>
                            <td th:text="${orderItem.order.orderNum}" id="orderNum" th:attr="data-orderNum=${orderItem.order.orderNum}">202112210120212</td>
                            <td th:text="${orderItem.order.delivery.deliveryAddress.customerName}">고민수</td>
                            <td><input type="text" id="wayBillNum" placeholder="운송장"></td>
                            <td>
                                <span>
                                    <img th:src="@{${orderItem.item.imageUrl}}" width="50px" height="50px">
                                </span>
                                <span>
                                    <a th:href="@{'/items/' + ${orderItem.item.id}}">
                                        <div class="item-color" th:text="${orderItem.item.color}">아이보리</div>
                                        <div class="item-name" th:text="${orderItem.item.size}">L</div>
                                    </a>
                                </span>
                            </td>
                            <td th:text="${orderItem.quantity + '개'}">1개</td>
                            <td th:text="${orderItem.totalPrice}">20,000원</td>
                            <td th:text="${orderItem.deliveryStatus.getValue}"></td>
                            <td>
                                <button type="button" class="startDelivery">배송</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="paging">
                    <a th:href="@{/admin/send/orderItem(page=${page.prevPage},itemName=${itemName},orderNum=${searchDto.orderNum},customerName=${searchDto.customerName})}">이전</a>
                    <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
                        <a th:href="@{/admin/send/orderItem(page=${i},itemName=${itemName},orderNum=${searchDto.orderNum},customerName=${searchDto.customerName})}" th:classappend="${page.curPage} == ${i} ? 'here'" th:text="${i}">1</a>
                    </th:block>
                    <a  th:href="@{/admin/send/orderItem(page=${page.nextPage},itemName=${itemName},orderNum=${searchDto.orderNum},customerName=${searchDto.customerName})}">다음</a>
                </div>
            </section>

            <!-- /본문 -->
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/admin/admin_sendOrderItem.js"></script>


</body>
</html>
