<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 사이드바 -->
<div id="sidebar-wrapper" th:fragment="admin_sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <p>관리자 페이지</p>
            <a href="/">에게모니</a>
        </li>
        <input type="text" class="form-control me-2" placeholder="검색" maxlength="20"/>
        <br/>
        <p class="acountbuttons" style="text-align: center;">
            <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></span>
        </p>
        <li>-</li>
        <br/>
        <li><a th:href="@{/admin/register}">상품 등록</a></li>
        <li><a th:href="@{/admin/itemList}">상품 목록</a></li>
        <li>-</li>
        <br/>
        <li><a th:href="@{/board/list/all}">공지사항</a></li>
        <li><a th:href="@{/board/write/notice}">공지사항 글쓰기</a></li>
        <li>-</li>
        <br/>

    </ul>
</div>
<!-- /사이드바 -->

</body>
</html>