
.main-image-title {

    text-align:center;
    display:table;
    width: 360px;
    height: 450px;
}

.main-image {

    width : 360px;
    height : 450px;

}

.main-image-div {

    display:table-cell;
    vertical-align: middle
}


.tabs_wrap {

    display: table;
    border: 1px solid black;
    border-collapse : collapse;
    margin-top: 100px;
    margin-bottom : 40px;
    margin-left : 12px;
    width: 97.6%;
}

.tab_default {

    border: 1px solid #dadada;
    width : 200px;
    height : 64px;
    display: table-cell;
    text-align: center;
    vertical-align : middle;
    border-bottom-color : black;
    cursor : pointer;
    font-size : 16px;

}

.tab_default.tab_active {

    border-color : black;
    border-bottom-color: transparent;
    border-style: double;
}


/* 장바구니, 바로구매  */

.details_btns .cart_add_btn{

    border: 1px solid #dadada;
    width : 200px;
    height : 64px;
    display: table-cell;
    text-align: center;
    vertical-align : middle;
    border-bottom-color : black;
    cursor : pointer;
    font-size : 16px;
    background-color : #525257;
    color : white;
    text-decoration:none;
}

.details_btns .order_btn {

    border: 1px solid #dadada;
    width : 200px;
    height : 64px;
    display: table-cell;
    text-align: center;
    vertical-align : middle;
    border-bottom-color : black;
    cursor : pointer;
    font-size : 16px;
    background-color : black;
    color : white;
    text-decoration:none;
}


/* 옵션  */
.detail_options select {

    display : block;
}

/* 상품정보 */

.item_box {

    text-align: center;
}

.item_explanation {

    width: 600px;
    font-size: 22px;
    display: inline-block;
    padding-top: 150px;
    padding-bottom: 70px;
}

.item_details_info{

    padding-bottom: 150px;
}

/* 모델 정보 */
.item_model_tag {

    font-size: 20px;
}
.item_model {

    font-size: 15px;
}

/* 옵션 정보 */
.item_option_tag {
    font-size: 20px;
}

.item_option {

    font-size: 15px;
}

.item_image{

    width: 600px;
    height : 600px;
}
