<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/common/sidebar.css" />
    <link rel="stylesheet" href="/assets/css/board/board_view.css" />

</head>
<body>


<div id="page-wrapper">
    <div th:replace="common/sidebar :: main_sidebar">
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!-- 본문 -->
                <div id="mArticle" class="article_skin" th:attr="data-boardId=${board.id}">
                    <div class="area_title">
                        <h3 class="tit_post" th:text="${board.title}">제목</h3>
                        <span class="info_post">
                            <span th:text="${board.writer}"></span>
                            <span class="txt_bar"></span>
                            <span th:text="${#temporals.format(board.createdDate, 'yyyy.MM.dd')}"></span>
                            <th:block th:if="${role} == true">
                                <span class="txt_bar"></span>
                                <a th:href="@{/board/write/} + ${board.id}" class="link_detail">수정</a>
                                <span class="txt_bar"></span>
                                <a href="javascript:void(0);" class="link_detail board_hide" th:text="${board.hide} == 'private' ? '비공개' : '공개'"></a>
                                <span class="txt_bar"></span>
                                <a href="javascript:void(0);" class="link_detail board_delete">삭제</a>
                            </th:block>
                        </span>
                    </div>
                    <div class="area_view">
                        <div class="tt_article_useless_p_margin contents_style" th:text="${board.content}">
                        </div>
                    </div>
                    <div class="area_etc"></div>
                    <div class="area_reply"> <!-- 댓글 -->
                        <strong class="tit_reply">
                            <span th:text="${totalComment}"></span> <!-- 게시글번호와 댓글 개수  -->
                            댓글
                        </strong>
                        <div class="comment_list">

                        </div>
                    </div>
                </div>
            <!-- /본문 -->
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/board/board_view.js"></script>
<script src="/assets/js/common.js"></script>
<th:block th:if="${role} == true">
    <script>
$(function(){

    let csrfToken = $("meta[name=_csrf]").attr("content");
    let csrfHeader = $("meta[name=_csrf_header]").attr("content");

    $(document).on("click", ".board_hide", function(){

        let boardId = $("#mArticle").attr("data-boardId");
        let hide = $(".board_hide").text();

         $.ajax({
            url : "/board/update/hide/" + boardId,
            type : "patch",
            beforeSend : function(xhr){
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
        }).done(function(result){
            if(result === "success"){
                if(hide === "비공개"){
                    $(".board_hide").text("공개");
                }else{
                    $(".board_hide").text("비공개");
                }
            } else if(result === "login"){
                alert("로그인이 필요한 서비스입니다.");
                c = confirm("로그인 페이지로 이동하시겠습니까? (작성하던 내용은 모두 사라집니다.)");
                if(c){
                    window.location.replace("/login");
                }
            } else if(result === "role"){
                alert("작성자만 변경 가능합니다.");
                return false;
            }
        }).fail(function(){
            alert("에러가 발생했습니다. \n잠시후 다시 시도해주세요.");
            return false;
        });
    });

    $(document).on("click", ".board_delete", function(){

        let boardId = $("#mArticle").attr("data-boardId");

        let c = confirm("이 글 및 댓글을 완전히 삭제합니다. 계속하시겠습니까?");
        if(c){
            $.ajax({
                url : "/board/delete/" + boardId,
                type : "delete",
                beforeSend : function(xhr){
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
            }).done(function(result){
                if(result === "success"){
                    alert("게시글이 삭제 되었습니다.");
                    window.location.href = "/board/freeBoard";
                } else if(result === "login"){
                    alert("로그인이 필요한 서비스입니다.");
                    c = confirm("로그인 페이지로 이동하시겠습니까? (작성하던 내용은 모두 사라집니다.)");
                    if(c){
                        window.location.replace("/login");
                    }
                } else if(result === "role"){
                    alert("작성자만 삭제 가능합니다.");
                    return false;
                }
            }).fail(function(){
                alert("에러가 발생했습니다. \n잠시후 다시 시도해주세요.");
            });
        };
    });

});
    </script>
</th:block>
</body>
</html>
