<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>댓글 수정</title>
</head>
<body>
    <header>
        <h1 class="header_title">댓글 수정</h1>
    </header>
    <form class="comment_form" method="post" action="#">
        <fieldset>
            <div class="wrap_content">
                <label class="screen_out" for="comment">내용</label>
                <textarea id="comment" name="comment"  cols="45" rows="9" placeholder="수정할 댓글 내용을 입력해주세요.">
                </textarea>
            </div>
            <div class="wrap_btn">
                <button class="btn btn_reset" type="reset"></button>
                <button class="btn btn_submit" type="submit">확인</button>
            </div>
        </fieldset>
    </form>

</body>
</html>