<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/css/common/sidebar.css" rel="stylesheet">
    <link href="/assets/css/common/paging.css" rel="stylesheet">
    <link href="/assets/css/common/footer.css" rel="stylesheet">
    <link href="/assets/css/board/board_freeBoard.css" rel="stylesheet">
</head>
<body>

<div id="page-wrapper">
    <div th:replace="common/sidebar :: main_sidebar">
    </div>
    
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!-- 본문 -->
            <h1>자유게시판</h1>
            <a th:href="@{/board/write}">
                <button type="button" class="btn btn-primary">글쓰기</button>
            </a>
            <th:block th:if="${boardList}">
                <div class="board_list">
                    <div class="board_tit_area">
                        <span class="condition">번호</span>
                        <span class="contents">제목</span>
                        <span class="writer">작성자</span>
                        <span class="date">작성일</span>
                    </div>
                    <div class="board_content" th:each="board, index : ${boardList}" th:attr="data-boardId=${board.id}">
                        <div class="board_title">
                            <span class="condition" th:text="${board.id}"></span>
                            <span class="contents boardView" th:text="${board.title}" th:attr="data-num=${board.id}"></span>
                            <span class="writer" th:text="${board.writer}"></span>
                            <span class="date" th:text="${#temporals.format(board.createdDate, 'yyyy.MM.dd')}"></span>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:unless="${boardList}">   <!-- 존재하지 않을 때 -->
                <div class="board_list">
                    <div class="board_tit_area">
                        <span class="condition">번호</span>
                        <span class="contents">제목</span>
                        <span class="writer">작성자</span>
                        <span class="date">작성일</span>
                    </div>
                    <div class="board_content">
                        <div class="board_title">
                            <span class="condition">x</span>
                            <span class="contents">등록된 게시물이 없습니다.</span>
                            <span class="writer">x</span>
                            <span class="date">x</span>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="paging">
                <a th:href="@{/board/freeBoard(page=${page.prevPage})}">이전</a>
                <th:block th:each="i : ${#numbers.sequence(page.startPage, page.endPage)}">
                    <a th:href="@{/board/freeBoard(page=${i})}" th:classappend="${page.curPage} == ${i} ? 'here'" th:text="${i}"></a>
                </th:block>
                <a th:href="@{/board/freeBoard(page=${page.nextPage})}">다음</a>
            </div>
            <footer th:replace="common/footer :: footer">
            </footer>
            <!-- /본문 -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/board/board_freeBoard.js"></script>
<script src="/assets/js/common/common.js"></script>
</body>
</html>
