<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <title>에게모니</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/member/member_withdrawal.css">
</head>
<body>

<div class="container">
    <header>
        <div class="nav">
            <div class="back-icon">
                <a href="#">
                    <span class="visually-hidden">이전 페이지로</span>
                </a>
            </div>
            <div class="withdrawal-tit">
                <span>회원탈퇴</span>
            </div>
        </div>
    </header>
    <div class="progress">
        <div class="bar"  style="width: 100%;"></div>
        <progress max="2" value="2">100%</progress>
    </div>
    <div class="withdrawal-wrap">
        <div class="Withdrawal-main" idx="0" size="4">
            <div class="main-title-wrap">
                <div class="input-wrap">
                    <label for="password">비밀번호 *</label>
                    <input type="password" id="password" placeholder="비밀번호 입력" maxlength="25" autocomplete="off">
                </div>
            </div>
            <div class="withdrawl-btn-wrap">
                <button type="button" id="withdrawal" class="withdrawl-btn withdrawl-btn--border">회원 탈퇴</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/member/member_withdrawal.js"></script>
</body>
</html>
