<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>에게모니</title>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/common/sidebar.css" />
  <link rel="stylesheet" href="/assets/css/member/member_orderDetails.css" />

</head>
<body>


<div id="page-wrapper">
  <div th:replace="common/sidebar :: main_sidebar">
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <!-- 본문 -->
      <div class="pagetitle">
        <h1>주문상세조회</h1>
      </div>
      <div class="orderpage frame">
        <h2>주문정보</h2>
        <dl class="order_member">
          <dt>주문번호</dt>
          <dd th:text="${orderInfo.orderNum}"></dd>
          <dt>주문일자</dt>
          <dd th:text="${#temporals.format(orderInfo.createdDate, 'yyyy.MM.dd HH:mm')}"></dd>
          <dt>주문자</dt>
          <dd th:text="${address.customerName}"></dd>
          <dt>결제금액</dt>
          <dd th:text="${#numbers.formatDecimal(orderInfo.totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></dd>
        </dl>
        <h2>주문상품</h2>
        <div class="order_item">
          <dl>
            <dt>
              <span class="order-seller">상품</span>
            </dt>
            <dt></dt>
            <dt>주문금액</dt>
            <dt>진행상황</dt>
          </dl>
          <dl th:each="orderItem : ${orderItems}">
            <dd>
              <img th:src="@{${orderItem.item.imageUrl}}" class="item_image">
            </dd>
            <dd>
              <span class="itemname" th:text="${orderItem.item.itemName}"></span>
              <span th:text="${orderItem.item.color} + '/' + ${orderItem.item.size}"></span>
              <span th:text="${orderItem.quantity} + '개'"></span>
            </dd>
            <dd th:text="${#numbers.formatDecimal(orderItem.totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></dd>
            <dd th:text="${orderItem.deliveryStatus.getValue}"></dd>
          </dl>
        </div>
        <h2>결제정보</h2>
        <dl class="order_totalpay">
          <th:block th:if="${method} == '가상계좌'">
            <dt>결제수단</dt>
            <dd th:text="${payInfo.payType}"></dd>
            <dt>입금은행</dt>
            <dd th:text="${payInfo.bank}"></dd>
            <dt>입금계좌</dt>
            <dd th:text="${payInfo.accountNumber}"></dd>
            <dt>입금자명</dt>
            <dd th:text="${payInfo.customerName}"></dd>
            <dt>입금기한</dt>
            <dd th:text="${#strings.substring(payInfo.dueDate, 0, 10)}"></dd>
            <dt>총 상품금액</dt>
            <dd th:text="${#numbers.formatDecimal(orderInfo.totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></dd>
            <dt class="large">총 주문금액</dt>
            <dd class="red large" th:text="${#numbers.formatDecimal(orderInfo.totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></dd>
          </th:block>
          <th:block th:if="${method} == '카카오페이'">
            <dt>결제수단</dt>
            <dd th:text="${payInfo.payType}"></dd>
            <dt>총 상품금액</dt>
            <dd th:text="${#numbers.formatDecimal(orderInfo.totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></dd>
            <dt class="large">총 주문금액</dt>
            <dd class="red large" th:text="${#numbers.formatDecimal(orderInfo.totalPrice, 0, 'COMMA', 0, 'POINT')} + '원'"></dd>
          </th:block>
        </dl>
        <h2>배송지 정보</h2>
        <dl class="order_member">
          <dt>수령인</dt>
          <dd th:text="${address.recipientName}"></dd>
          <dt>수령인 휴대폰</dt>
          <dd th:text="${address.recipientPhoneNum}"></dd>
          <dt>우편번호</dt>
          <dd th:text="${address.zipcode} == '' ? '없음' : ${address.zipcode}"></dd>
          <dt>배송주소</dt>
          <dd th:text="${address.address}"></dd>
          <dt>나머지주소</dt>
          <dd th:text="${address.detailAddress} == '' ? '없음' : ${address.detailAddress} "></dd>
        </dl>
        <div>
          <a href="#" class="btn_order_order">주문/배송조회로 이동</a>
        </div>
      </div>
      <!-- /본문 -->
    </div>
  </div>

</div>


<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
