<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml", xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div class="details_qna_container">
    <div class="qna_list_chk">
        <div>
            QnA
            <span th:text="${qnaSize}"></span>
        </div>
        <a id="btn_write_qna">문의 내용 작성하기</a>
    </div>
    <dl class="qna_write" style="display: none;">
        <dt>내용</dt>
        <dd><textarea placeholder="내용을 입력해 주세요." id="content"></textarea></dd>
        <dt>공개여부</dt>
        <dd>
            <span>
                <input type="radio" id="public" name="hide" value="private" checked>
                <label for="public">비공개</label>
                <input type="radio" id="private" name="hide" value="public">
                <label for="private">공개</label>
            </span>
        </dd>
        <dd>
            <input type="button" value="취소하기" id="qna_write_cancel" />
            <input type="submit" value="등록하기" id="qna_post" />
        </dd>
    </dl>
    <ul class="qna_list">
        <div class="qna_list_head">
            <div class="qna_head_status">답변상태</div>
            <div class="qna_head_content">내용</div>
            <div>작성자</div>
            <div class="qna_head_created">작성일</div>
        </div>

        <th:block th:if="${qnaList}">
            <th:block th:each="qna, index : ${qnaList}">
                <li class="qna_list_body qna_lock">
                    <div class="qna_status" th:text="${qna.replyEmpty}"></div>
                    <div class="qna_text" th:text="${qna.title}"></div>
                    <div th:text="${qna.writer}"></div>
                    <div th:text="${#dates.format(qna.createdDate, 'yyyy.MM.dd')}"></div>
                    <p class="break-all" th:text="${qna.content}"></p>

                    <!-- QnA 답글 -->
                    <th:block th:if="${qna.replyEmpty} == '답변대기'" sec:authorize="hasRole('ROLE_ADMIN')">
                    <span class="reply_write">
                        <input type="hidden" id="parent" th:value="${qna.id}" />
                        <input type="text" id="replyContent" placeholder="답글 작성" />
                        <input type="button" id="replySend" value="전송" />
                    </span>

                    </th:block>

                    <th:block th:if="${qna.replyEmpty} == '답변완료'">
                        <dl>
                            <dd>ㄴ답변</dd>
                            <dd class="break-all" th:text="${replyList[index].content}"></dd>
                            <dd th:text="${replyList[index].writer}"></dd>
                            <dd th:text="${#dates.format(${replyList[index].time}, 'yyyy.MM.dd')}"></dd>
                        </dl>
                    </th:block>
                </li>
         </th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <script>
                $(document).ready(function(){
                    $("#replySend").on("click", function(){

                        let productId = $("#productId").val();

                        let span = $(this).parent();
                        let parent = span.find("#parent").val();
                        let content = span.find("#replyContent").val();

                        let param = {
                            productId : productId,
                            content : content,
                            parent : parent
                        };

                        $.ajax({
                            type : "post",
                            url  : "/product/reply/send",
                            data : param,
                            success : function(result){

                                if(result === "Y"){
                                    span.find("#replyContent").val("");
                                    alert("성공");
                                }
                            },
                            error : function(result){
                                alert("실패했습니다");
                            }
                        });
                    });
                });
                </script>
            </th:block>
        </th:block>


        <th:block th:unless="${qnaList}">
            <li class="qna_no_data">등록된 Q&A가 없습니다</li>
        </th:block>
    </ul>
</div>
</body>
</html>