<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:each="item : ${itemList}">
    <div class="col-md-6 col-lg-4">
        <a th:href="@{'/items/' + ${item.id}}">
            <div class="box">
                <div class="img-box">
                    <img src="#" th:src="@{${item.imageUrl}}" alt="">
                </div>
                <div class="detail-box">
                    <h6 th:text="${item.itemName}"></h6>
                    <div class="price_box">
                        <strong class="price_heading" th:text="${item.price}"></strong>
                    </div>
                </div>
            </div>
        </a>
    </div>
</th:block>
<div class="btn-box" th:attr="data-category=${category}">
    <a href="javascript:void(0);" th:attr="data-lastId=${lastId}" class="itemMore">
        더보기
    </a>
</div>

</body>
</html>