
.main-image-title {

    text-align:center;
    display:table;
    width: 360px;
    height: 450px;
}

.main-image {

    width : 360px;
    height : 450px;

}

.main-image-div {

    display:table-cell;
    vertical-align: middle
}


.tabs_wrap {

    display: table;
    border: 1px solid black;
    border-collapse : collapse;
    margin-top: 100px;
    margin-bottom : 40px;
    margin-left : 12px;
    width: 97.6%;
}

.tab_default {

    border: 1px solid #dadada;
    width : 200px;
    height : 64px;
    display: table-cell;
    text-align: center;
    vertical-align : middle;
    border-bottom-color : black;
    cursor : pointer;
    font-size : 16px;

}

.tab_default.tab_active {

    border-color : black;
    border-bottom-color: transparent;
    border-style: double;
}


/*  QnA  //////////////////////////////////////////////////////////////////////////////////////////// */
/* QnA 개수와 댓글 달기 라인 */
.qna_list_chk {

   display : flex;
   padding-top: 18px;
   padding-bottom: 18px;

}

/*  QnA 글씨  */
.qna_list_chk div {

   width: 700px;
   font-size: 19px;
}

/*  문의 내용 작성하기 버튼  */
.qna_list_chk a {

   border: 1px solid black;
   text-decoration: none;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 100px;
   background-color: black;
   color: white;

}


/*  QnA 리스트 전체  */
.qna_list {

    padding-left: 0px;
}


/* QnA 헤드 부분  */
.qna_list_head {

    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    border-left-color: white;
    border-right-color: white;
    font-weight: 700;
}

    /*  QnA head 기본 크기  */
    .qna_list_head div {

        width : 150px;
    }


    /*  QnA 답변 상태   */
    .qna_list_head > .qna_head_status {

       margin-left: 20px;
    }

    /*  QnA 내용  */
    .qna_list_head > .qna_head_content {

        width : 500px;
        padding-left: 13px;
    }

    /*  QnA 작성일   */
    .qna_list_head > .qna_head_created {

        padding-left: 13px;
    }


/* QnA 바디 부분  */
.qna_list_body {

    display: flex;
    border: 1px solid #dadada;
    border-top-color : white;
    border-left-color: white;
    border-right-color: white;
    padding-top: 10px;
    padding-bottom: 10px;

}

    /*  QnA Body 기본 크기  */
    .qna_list_body div {

        width : 150px;
    }

    /* 작성자의 QnA 내용  */
    .qna_list_body > .qna_text {

        width : 500px;
    }

    /*  답변 대기  */
    .qna_list_body > .qna_status {

        margin-left: 20px;
    }


/*  Review    //////////////////////////////////////////////////////////////////////////////////////////// */

.review_head {

    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}


/*  더 많은 리뷰보기 버튼   */
.detail_review_container > .btn_more_review {

    border: 1px solid black;
    text-decoration: none;
    background-color: white;
    color: black;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 410px;
    padding-right: 417px;
    margin-left: 0px;
    margin-top: 0px;
    cursor : pointer;
    position: absolute;
    top : 1166px;
}


.detail_review_container > .btn_more_review:hover {


    background-color: black;
    color: white;

}

/*  리뷰 기본 크기   */
.detail_review_default {

    border: 1px solid black;
    border-left-color: white;
    border-right-color: white;
    margin-bottom : 0px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
}

/*  리뷰 사용자 프로필  */
.review_profile {

    padding-bottom: 40px;
}

.review_text {

    margin-bottom: 20px;
}

.review_profile > strong > .user_name {

    font-size: 18px;
    font-weight: 700;
}

.review_profile > strong > .date {

    font-size: 18px;
    font-weight: 700;
}

.detail_review_select {

    margin-bottom: 30px;
    font-size: 1.2em;
    text-align: right;
}

.detail_review_select > .active_review_select{

    color: black;
}

.detail_review_select li {

    display: inline-block;
    padding: 0 20px;
    color: #888;
    border-left: 1px solid #c5c5c5;
    cursor: pointer;

}