


/* qna_list_head 부분 /////////////////////////////////////////////////////////////////////   */
.qna_list_head {

    font-weight: bold; font-size: 1.23m; padding: 10px 0px;
}
.qna_list_head div {

    text-align: center !important;
    float: left;
    padding: 20px 0px;
    border-bottom: 1px solid #bdbdbd
}

.qna_list_head div:nth-child(1) {

    width:15%
 }

.qna_list_head div:nth-child(2) {

    width:55%
}

.qna_list_head div:nth-child(3) {

    width:15%
}

.qna_list_head div:nth-child(4) {

    width:15%
}

/* qna_list 부분 /////////////////////////////////////////////////////////////////////////////////   */

.qna_list li {clear: both;border-bottom: 1px solid #e5e5e5;overflow: hidden;cursor: pointer;}

.qna_list li div {float: left;text-align: center;padding:10px 0px; font-weight: 600; }
.qna_list li div:nth-child(1) {width:15%;}
.qna_list li div:nth-child(2) {width:55%;text-align: left;padding-left: 2%;}
.qna_list li div:nth-child(3) {width:15%}
.qna_list li div:nth-child(4) {width:15%}

.qna_no_data {

    text-align: center;
    padding: 10px 0;
    font-size: 1.25em;
    cursor: none;
}

.qna_list_body {

    border-bottom-color: black;

}

.qna_list li p {

    clear: both;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 15px 10px 15px 17%;
    margin: 0px;
    display: none;
}


.break-all {

    word-break: break-all;
}


.qna_list li dd {float: left}
.qna_list li dd:nth-child(1) {width:calc(17% + 55px); padding:15px 10px; text-align: right; font-weight: 700;}
.qna_list li dd:nth-child(2) {width:calc(53% - 55px); padding:15px 0px; }
.qna_list li dd:nth-child(3) {width: 15%; text-align: center; padding: 15px 0px}
.qna_list li dd:nth-child(4) {width: 15%; text-align: center;  padding: 15px 0px}
.qna_list li dl {display: none}
.qna_list li dd:nth-child(1) span {border: 1px solid #000; font-size: 0.8em; padding: 2px 5px; background: #ffffff}
