<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div class="myqna_list">
    <div class="qna_tit_area">
        <span class="condition">답변상태</span>
        <span class="contents">내용</span>
        <span class="writer">작성자</span>
        <span class="date">작성일</span>
    </div>
    <div class="qna_content qna_content_on">       <!-- qna 제목 -->
        <div class="qna_title">
            <span class="condition">답변대기</span>
            <span class="contents">입금했습니다.</span>
            <span class="writer"></span>
            <span class="date">2021.12.12</span>
        </div>
        <div class="qna_question">  <!-- qna 상세 내용 -->
            <span class="condition"></span>
            <span class="contents">입금했습니다.</span>
            <span class="writer"></span>
            <span class="date">2021.12.12</span>
        </div>
        <div class="qna_answer">  <!-- qna 상세 내용 -->
            <span class="condition"></span>
            <span class="contents">감사합니다.</span>
            <span class="writer">판매자</span>
            <span class="date">2021.12.12</span>
        </div>
    </div>
</div>

</body>
</html>