a:link {
    text-decoration: none;
}

.mypage_order_item_wrap h2 {
    font-weight: 200;
    font-size: 1.8em;
    border-bottom: 1px solid #000;
    padding-bottom: 16px;
    margin-top: 50px;
}

.mypage_order_item_wrap:first-child {
    margin-top: 100px;
}

.mypage_order_item_wrap {
    margin-bottom: 100px;
}

.mypage_order_item_wrap a:hover {
    color : red;
}

.orderpage h2 {
    font-weight: 300;
    font-size: 2em;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.orderpage h2 {
    margin-bottom: 0px;
}

.btn_showdetailorder {
    float: right;
    color: #000000;
    font-size: 1em;
    font-weight: 300;
}

.orderpage h2 > span {
    font-size: 22px;
    float: none;
}

.order_item {

    display : table;
    width : 100%;
}

.order_item dl {

    width: 100%;
    display: table-row;
}

.order_item dl dt:first-child {

    padding: 20px 10px;
}

.order_item dl dt {
    padding-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.order_item dd, .order_item dt {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.order_item a, .order_item a:link {
    color: #000000;
}


.order_item dd:first-child img {
    width: 100px;
    height : 100px;
}

.order_item dd:first-child img {
    width: 100%;
    max-width: 100px;
}

.order_item dl dd:first-child {
    width: 15%;
}

.order_item dl dd {
    font-size: 1.25em;
}

.order_item .itemname {
    font-weight: 400;
    font-size: 1.2em;
}

.order_item .itemname {
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
}

.order_item dd span {
    color: #767676;
    font-weight: 300;
    font-size: 1em;
    display: block;
}


.order_item dl dd:nth-child(3) {
    font-size: 1.3em;
    font-weight: 500;
}

.order_item dl dd:nth-child(3) {
    width: 20%;
    text-align: center;
}

.order_item dl dd:nth-child(4) {
    width: 15%;
    text-align: center;
}

.order_item .status_name {
    display: inline-block;
    color: #000000;
}


