.paging {
    text-align: center;
}

.paging a{
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.1em;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
}

.paging a:hover {
    color: #808080;
    border: 1px solid black;
}

.paging a.here{
    color: #fff;
    background: #000;
}